html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: default;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}
